
body {
    background-color: aquamarine;
}

#header {
    font: 32px;
    color: aliceblue;
    padding: 15px;
    background-color: #c97126;
    width: 25%;
    text-align: center;
    margin: 30px;
}

#instructions {
    background-color: rgb(85, 167, 243);
    padding: 30px;
    width: 60%;
    margin: 30px;
}

.wnl {
    background-color: rgba(170, 127, 209, 0.514);
    padding: 15px;
    margin: 30px;
    width: 60%;
}

img {
    margin: 10px;
}